<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlcon" providerName="System.Data.SqlClient" connectionString="Data Source=LTIN691047\SQLEXPRESS;Initial Catalog=UniversityDbConsole;Integrated Security=true;TrustServerCertificate=true" />
	</connectionStrings>
</configuration>